{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    
{% endblock %}
{% block content %}
<div class="heading">
    <h3>about us</h3>
    <p><a href="home.php">Home</a> <span> / About</span></p>
 </div>
 
 <!-- Our Ower -->
 <section class="card">           
            
                 <img src="{{url_for('static', filename='images/ripon_sir.jpg')}}" class="card-img" alt="...">
           
               <div class="doc">              
                   <h3 class="title" >Our Owner</h3>
                   <br>
                   <p> <b>Shamim Hasnat Ripon</b></p>
                   <p > Professor, <br>  Department of Computer Science & Engineering 
                   <br> 
      
                   <b>Office: </b> Room-647<br> <b> Email: </b>dshr@ewubd.edu</p>
                   <br>
                   <br>
                   <a href="https://fse.ewubd.edu/computer-science-engineering/faculty-view/dshr" target="_blank" class="btn">Learn More</a>
               </div>
      
 </section>
 
 <!--  Team -->
 <h1 class="title">Our Team</h1>
 <section class="card">           
            
  

 <div class="doc">              
     <h3 class="title" >Submited By</h3>
     <br>
     <p> <b>Kazi Sifat Al Maksud</b></p>
     <p > Student, <br>  Department of Computer Science & Engineering 
     <br> 
     <b>ID: </b> 2019-3-60-050<br> <b> Email: </b>2019-3-60-050@std.ewubd.edu</p>
     <br>
     <br>
     <a href="https://www.linkedin.com/in/niloynishat/?originalSubdomain=bd" target="_blank" class="btn">Learn More</a>
 </div>
 <img src="{{url_for('static', filename='images/profile-img.jpg')}}" class="card-img" alt="...">

</section>

 <!--Team-->
 
 
 <section class="team">
 
    <h1 class="title">Our Team</h1>
 
       <div class="swiper-wrapper">    
          <div class="box">
             <img src="{{url_for('static', filename='images/profile-img.jpg')}}" alt="">
            
             <h2>Kazi Sifat Al Maksud</h2>
             <h3>ID: 2019-3-60-050</h3>
          </div>
 
          <div class="box">
             <img class="sifat" src="{{url_for('static', filename='images/profile_midul.jpg')}}" alt="">
            
             <h2>Mridul Ranjon Karmakar</h2>
             <h3>ID: 2018-3-60-021</h3>
          </div>
 
          <div class="box">
             <img src="{{url_for('static', filename='images/profile_al.jpg')}}" alt="">
             <h2>Md Al-Aamin</h2>
             <h3>ID: 2019-1-65-003</h3>
          </div>
      
 
    </div>
 
 </section>
 
 <!-- about section starts  -->
 
 <section class="about">
 
    <div class="row">
 
       <div class="image">
        <img src="images/about-card.jpg" alt=""> 
       </div>
 
       <div class="content">
          <h3>Our Mission</h3>
          <p>At coffee shop our mission is to spread positive energy.</p>
          <br>
          <br>
          <p> For over two decades, our family has used coffee as a catalyst for inspiring community, relationships, and adventures. We dedicate ourselves to the quality of our work and elevating coffee experiences. </p>
          <a href="menu.html" class="btn">our menu</a>
       </div>
 
    </div>
 
 </section>
 
 <!-- about section ends -->
 
 <!-- steps section starts  -->
 
 <section class="steps">
 
    <h1 class="title">simple steps</h1>
 
    <div class="box-container">
 
       <div class="box">
          <img src="images/step-1.png" alt="">
          <h3>choose order</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolorem.</p>
       </div>
 
       <div class="box">
          <img src="images/step-2.png" alt="">
          <h3>fast delivery</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolorem.</p>
       </div>
 
       <div class="box">
          <img src="images/step-3.png" alt="">
          <h3>enjoy food</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolorem.</p>
       </div>
 
    </div>
 
 </section>
 
 <!-- steps section ends -->
 
 <!-- reviews section starts  -->
 
 <section class="reviews">
 
    <h1 class="title">customer's reivews</h1>
 
    <div class="swiper reviews-slider">
 
       <div class="swiper-wrapper">
 
          <div class="swiper-slide slide">
             <img src="images/pic-1.png" alt="">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptate eligendi laborum molestias ut earum nulla sint voluptatum labore nemo.</p>
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
             </div>
             <h3>john deo</h3>
          </div>
 
          <div class="swiper-slide slide">
             <img src="images/pic-2.png" alt="">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptate eligendi laborum molestias ut earum nulla sint voluptatum labore nemo.</p>
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
             </div>
             <h3>john deo</h3>
          </div>
 
          <div class="swiper-slide slide">
             <img src="images/pic-3.png" alt="">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptate eligendi laborum molestias ut earum nulla sint voluptatum labore nemo.</p>
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
             </div>
             <h3>john deo</h3>
          </div>
 
          <div class="swiper-slide slide">
             <img src="images/pic-4.png" alt="">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptate eligendi laborum molestias ut earum nulla sint voluptatum labore nemo.</p>
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
             </div>
             <h3>john deo</h3>
          </div>
 
          <div class="swiper-slide slide">
             <img src="images/pic-5.png" alt="">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptate eligendi laborum molestias ut earum nulla sint voluptatum labore nemo.</p>
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
             </div>
             <h3>john deo</h3>
          </div>
 
          <div class="swiper-slide slide">
             <img src="images/pic-6.png" alt="">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptate eligendi laborum molestias ut earum nulla sint voluptatum labore nemo.</p>
             <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
             </div>
             <h3>john deo</h3>
          </div>
 
       </div>
 
       <div class="swiper-pagination"></div>
 
    </div>
 
 </section>
{% endblock %}