{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    
{% endblock %}
{% block content %}
<div class="heading">
    <h3>about us</h3>
    <p><a href="home.php">Home</a> <span> / About</span></p>
 </div>
 
 <!-- Our Ower -->
 <section class="card">           
            
                 <img src="{{url_for('static', filename='images/tanver_sir.jpg')}}" class="card-img" alt="...">
           
               <div class="doc">              
                   <h3 class="title" >Submitted To</h3>
                   <br>
                   <p> <b>Md. Tanvir Alam</b></p>
                   <p > Lecturer, <br>  Department of Computer Science & Engineering
                   <br> 
      
                   <p> <b> Email: </b> tanvir.alam@ewubd.edu</p>
                   <br>
                   <br>
                   <a href="https://fse.ewubd.edu/computer-science-engineering/faculty-view/tanvir.alam" target="_blank" class="btn">Learn More</a>
               </div>
      
 </section>
 
 <!--  Team -->
 <h1 class="title">Our Team</h1>
 <section class="card">           
            
  

 <div class="doc">              
     <h3 class="title" >Submited By</h3>
     <br>
     <p> <b>Kazi Sifat Al Maksud</b></p>
     <p > Student, <br>  Department of Computer Science & Engineering 
     <br> 
     <b>ID: </b> 2019-3-60-050<br> <b> Email: </b>2019-3-60-050@std.ewubd.edu</p>
     <br>
     <br>
     <a href="https://www.linkedin.com/in/niloynishat/?originalSubdomain=bd" target="_blank" class="btn">Learn More</a>
 </div>
 <img src="{{url_for('static', filename='images/profile-img.jpg')}}"  class="card-img" alt="...">

</section>


 <!-- about section starts  -->
 

 
 <!-- steps section starts  -->
 <!--
 <section class="steps">
 
    <h1 class="title">simple steps</h1>
 
    <div class="box-container">
 
       <div class="box">
          <img src="images/step-1.png" alt="">
          <h3>choose order</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolorem.</p>
       </div>
 
       <div class="box">
          <img src="images/step-2.png" alt="">
          <h3>fast delivery</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolorem.</p>
       </div>
 
       <div class="box">
          <img src="images/step-3.png" alt="">
          <h3>enjoy food</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolorem.</p>
       </div>
 
    </div>
 
 </section>
 
 steps section ends -->
 

{% endblock %}