<!DOCTYPE html>
<html lang="en">
<head>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Login - Admin</title>

</head>
<body style=" background-color:#0d1117; color: #fff ">
<div class="container text-light bg-dark" style="width: 40%; border-radius: 5%; padding: 80px; margin-top: 3%;">
      <h1 class="display-5 mb-4 text-justify">Admin Log In</h1>
    <form action="/" method="post">
  <div class="mb-3">
    <label class="form-label">User Name</label>
    <input type="email" class="form-control" name="email">
    <div id="emailHelp" class="form-text" style="color: red">{{ email_mess }}</div>
  </div>
  <div class="mb-3">
    <label  class="form-label">Password</label>
    <input type="password" class="form-control" name="enter_pass">
      <div  class="form-text" style="color: red">{{ pass_mess }}</div>
  </div>

  <button type="submit" class="btn btn-primary">Log In</button>
     </br>
         </br>

</form>
  </div>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>


