{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    
{% endblock %}
{% block content %}    
<div class="heading" style="margin-top: 100px;">
    <h3>contact us</h3>
    <p><a href="{{url_for('home_page')}}">home</a> <span> / contact</span></p>
 </div>
 
 <!-- contact section starts  -->
 
 <section class="form-container">
 
    <div class="row">
 
       <div class="image">
          <img src="images/contact-us.jpg" alt="">
       </div>
 
       <form action="/contact" method="post">
          <h3>tell us something!</h3>
           {{ sucessmess }}
          <input type="text" name="name" maxlength="50" class="box" placeholder="enter your name" required>
          <input type="email" name="email" maxlength="50" class="box" placeholder="enter your email" required>
          <input name="msg" class="box" required placeholder="enter your message" maxlength="500" required>
           <buton type="submit" class="btn">send message</buton>
       </form>
 
    </div>
 
 </section>
 
{% endblock %}
