{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
   
{% endblock %}
{% block content %}
<!-- showcase area -->

   <section class="hero">

      <div class="swiper hero-slider">

         <div class="swiper-wrapper">

         <div class="swiper-slide slide">
               <div class="content hrotext">
                  <span>order online</span>
                  <h3>Which Mac is right for you?</h3>
                  <a href="menu.html" class="btn">see menus</a>
               </div>
               <div class="image">
                  <img src="{{url_for('static', filename='images/bg_hero_1.jpg')}}" alt="">
                  
               </div>
            </div>

            <div class="swiper-slide slide">
               <div class="content hrotext">
                  <span>order online</span>
                  <h3>Love the power.Love the price.</h3>
                  <a href="menu.html" class="btn">see menus</a>
               </div>
               <div class="image">
                  <img src="{{url_for('static', filename='images/bg_hero_2.jpg')}}" alt="">
               </div>
            </div>
            
            

            <div class="swiper-slide slide">
               <div class="content hrotext">
                  <span>order online</span>
                  <h3>Heavy on features. Light on Price</h3>
                  <a href="menu.html" class="btn">see menus</a>
               </div>
               <div class="image">
                  <img src="{{url_for('static', filename='images/bg_hero_3.jpg')}}" alt="">
               </div>
            </div>

            <div class="swiper-slide slide">
               <div class="content hrotext">
                  <span>order online</span>
                  <h3>How do I ture then off ?</h3>
                  <a href="menu.html" class="btn">see menus</a>
               </div>
               <div class="image">
                  <img src="{{url_for('static', filename='images/bg_hero_4.png')}}" alt="">
               </div>
            </div>

         </div>

         <div class="swiper-pagination"></div>

      </div>

   </section>

   -->

  

   <!-- category Area -->

   <section class="category">

      <h1 class="title">Accessories</h1>

      <div class="box-container">

        
         <a href="category.php?category=Coffee" class="box">
            <img src="{{url_for('static', filename='images/s_smartphone.svg')}}" alt=""> 
            <h3>Smart Phones</h3>
         </a>
         <a href="category.php?category=Coffee" class="box">
            <img class= "imstyle"src="{{url_for('static', filename='images/s_labptop.svg')}}" alt=""> 
            <h3>Laptops</h3>
         </a>

         <a href="category.php?category=main dish" class="box">
            <img src="{{url_for('static', filename='images/s_desktop.svg')}}" alt=""> 
            <h3>Desktops</h3>
         </a>

         <a href="category.php?category=drinks" class="box">
            <img src="{{url_for('static', filename='images/s_router.svg')}}" alt=""> 
            <h3>Routers</h3>
         </a>

         <a href="category.php?category=desserts" class="box">
            <img src="{{url_for('static', filename='images/s_headphone.svg')}}" alt=""> 
            <h3>Headphones</h3>
         </a>
         <a href="category.php?category=Coffee" class="box">
            <img src="{{url_for('static', filename='images/s_smartwatch.svg')}}" alt=""> 
            <h3>Smart Watchs</h3>
         </a>
         <a href="category.php?category=Coffee" class="box">
            <img src="{{url_for('static', filename='images/s_jing.png')}}" alt=""> 
            <h3>Gaming Consoles</h3>
         </a>
         <a href="category.php?category=Coffee" class="box">
            <img src="{{url_for('static', filename='images/s_smartphone.svg')}}" alt=""> 
            <h3>Others Accessories</h3>
         </a>

      </div>

   </section>
            <!-- give way -->
         
         <!-- products -->

   <section class="products">

      <h1 class="title">latest dishes</h1>

      <div class="box-container">
               <form action="" method="post" class="box">
                  <input type="hidden" name="pid" value="<?= $fetch_products['id']; ?>">
                  <input type="hidden" name="name" value="<?= $fetch_products['name']; ?>">
                  <input type="hidden" name="price" value="<?= $fetch_products['price']; ?>">
                  <input type="hidden" name="image" value="<?= $fetch_products['image']; ?>">
                  <a href="quick_view.php?pid=<?= $fetch_products['id']; ?>" class="fas fa-eye"></a>
                  <button type="submit" class="fas fa-shopping-cart" name="add_to_cart"></button>
                  <img  src="{{url_for('static', filename='images/macbook.jpg')}}" alt="">
                  <a href="category.php?category=<?= $fetch_products['category']; ?>" class="cat"><?= $fetch_products['category']; ?></a>
                  <div class="name">Apple MacBook Pro 16-Inch M1 Pro Chip, 16GB RAM, 1TB SSD (MK193) Space Gray 2021</div>
                  <div class="flex">
                     <div class="price">295,000<span> ৳</span></div>
                     <input type="number" name="qty" class="qty" min="1" max="99" value="1" maxlength="2">
                  </div>
               </form>
       <!-- <p class="empty">no products added yet!</p> -->
         
      </div>

      <div class="more-btn">
         <a href="menu.html" class="btn">veiw all</a>
      </div>

   </section>







   <!-- about section starts  -->

   <section class="about">

      <div class="row">

         <div class="image">
            <img src="images/whychoose.jpg" alt="">
         </div>

         <div class="content">
            <h3>why choose us?</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, neque debitis incidunt qui ipsum sed doloremque a molestiae in veritatis ullam similique sunt aliquam dolores dolore? Quasi atque debitis nobis!</p>
            <a href="menu.html" class="btn">our menu</a>
         </div>

      </div>

   </section>

   <!-- about section ends -->

   <!-- steps section starts  -->

   <section class="steps">

      <h1 class="title">simple steps</h1>

      <div class="box-container">

         <div class="box">
            <img src="images/step-1.png" alt="">
            <h3>choose order</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolorem.</p>
         </div>

         <div class="box">
            <img src="images/step-2.png" alt="">
            <h3>fast delivery</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolorem.</p>
         </div>

         <div class="box">
            <img src="images/step-3.png" alt="">
            <h3>enjoy food</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, dolorem.</p>
         </div>

      </div>

   </section>
    <!-- For News Letter -->
   <section class="subscribe">
   <h1 class="title">For News Letter</h1>
         <p>Subscribe For Latest Updates</p>
         <input type="email" placeholder="Enter Your Email" class="email">
         <input type="submit" value="subscribe" class="btn">
   </section>
 <!-- Map  -->

     
         
 <section class="contact">

<div class="row">

         <div class="map"> 
         <iframe class="minmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4416.875576819757!2d90.42337781534498!3d23.76838889400504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c78bc678693d%3A0x3e87f7b866c0e38!2sEast%20West%20University!5e1!3m2!1sen!2sbd!4v1660587920897!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         </div>

   <form class="form-container" action=""  method="post">
      <h3>Contact Us !</h3>
      <input type="text" name="name" maxlength="50" class="box" placeholder="Enter Your Name" required>
      <input type="email" name="email" maxlength="50" class="box" placeholder="Enter Your Email" required>
      <textarea name="msg" class="box" required placeholder="Enter Your Message" maxlength="500" cols="30" rows="10"></textarea>
      <input type="submit" value="send" name="send" class="btn">
   </form>

</div>
      
      </section>
   

   <!-- steps section ends -->


   <?php include 'components/footer.php'; ?>


   <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
   <!-- custom js file link  -->
   <script src="js/script.js"></script>

   <script>
      var swiper = new Swiper(".hero-slider", {
         loop: true,
         grabCursor: true,
         effect: "flip",
         pagination: {
            el: ".swiper-pagination",
            clickable: true,
         },
      });
   </script>
{% endblock %}

