{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    
<section class="form-container">

   <form action="/login" method="post">
      <h3>login now</h3>
      <input type="email" name="email" required placeholder="Enter Your Email" class="box" maxlength="50">
      <input type="password" name="pass" required placeholder="Enter Your Password" class="box" maxlength="50">
       <button type="submit" class="btn">Login Now</button>
      <p>don't have an account? <a href="{{url_for('register')}}">register now</a></p>
   </form>

</section>
<!-- <script src="js/script.js"></script>   -->

{% endblock %}








<!-- custom js file link  -->
