{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    
                <div class="heading" style="margin-top: 100px;">
                    <h3>our menu</h3>
                    <p><a href="{{url_for('home_page')}}">home</a> <span> / menu</span></p>
                </div>
 
<!-- menu section starts  -->
 <section>
     <!-- Shop Start -->
     <div class="container-fluid">

            <!-- Shop Sidebar Start -->
            <div class="top_filter">
                <div>

                <!-- Price Start -->
                            <div class="filter_block">
                                <h5 class="title">Filter by price</h5>
                                <form>
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" checked id="price-all">
                                        <label class="custom-control-label" for="price-all">All Price</label>

                                    </div>
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" id="price-1">
                                        <label class="custom-control-label" for="price-1">$0 - $100</label>

                                    </div>
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" id="price-2">
                                        <label class="custom-control-label" for="price-2">$100 - $200</label>

                                    </div>
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" id="price-3">
                                        <label class="custom-control-label" for="price-3">$200 - $300</label>

                                    </div>
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" id="price-4">
                                        <label class="custom-control-label" for="price-4">$300 - $400</label>

                                    </div>
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" id="price-5">
                                        <label class="custom-control-label" for="price-5">$400 - $500</label>

                                    </div>
                                </form>
                            </div>
                <!-- Price End -->

                <!-- Color Start -->
                            <div class="filter_block">
                                <h5 class="title">Filter by color</h5>
                                <form>
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" checked id="color-all">
                                        <label class="custom-control-label" for="price-all">All Color</label>

                                    </div>
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" id="color-1">
                                        <label class="custom-control-label" for="color-1">Black</label>

                                    </div>
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" id="color-2">
                                        <label class="custom-control-label" for="color-2">White</label>

                                    </div>
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" id="color-3">
                                        <label class="custom-control-label" for="color-3">Red</label>

                                    </div>
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" id="color-4">
                                        <label class="custom-control-label" for="color-4">Blue</label>

                                    </div>
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" id="color-5">
                                        <label class="custom-control-label" for="color-5">Green</label>

                                    </div>
                                </form>
                            </div>
                <!-- Color End -->

                <!-- Size Start -->
                            <div class="filter_block">
                                <h5 class="title">Filter by size</h5>
                                <form>
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" checked id="size-all">
                                        <label class="custom-control-label" for="size-all">All Size</label>

                                    </div>
                                    <div >
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" id="size-1">
                                        <label class="custom-control-label" for="size-1">XS</label>

                                    </div>
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" id="size-2">
                                        <label class="custom-control-label" for="size-2">S</label>

                                    </div>
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" id="size-3">
                                        <label class="custom-control-label" for="size-3">M</label>

                                    </div>
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" id="size-4">
                                        <label class="custom-control-label" for="size-4">L</label>

                                    </div>
                                    <div class="menu_chack">
                                        <input type="checkbox" class="custom-control-input" id="size-5">
                                        <label class="custom-control-label" for="size-5">XL</label>

                                    </div>

                                </form>
                            </div>
                    <!-- Size End -->
                </div>
                </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->

                        <div class="menu_header">
                            <form class="search-form" method="post" action="/menu">
                                <input type="text" name="search_box" placeholder="search here..." class="box">
                                <button type="submit" name="search_btn" class=" btn fas fa-search" name="btn" value="search"></button>
                                </form>
                            <div class="menu-bar sort_bar">
                                <ul >
                                   
                                    <li > <h2 style="width: 60px; float: right"> Sort By</h2>
                                        <div class="dropdown-menu" aria-labelledby="triggerId">
                                            <ul>
                                                <li><a class="dropdown-item" href="#">Latest</a></li>
                                                <li><a class="dropdown-item" href="#">Popularity</a></li>
                                                <li><a class="dropdown-item" href="#">Best Rating</a></li>
                                            </ul>                                
                                        </div>
                                    </li>
                                </ul>
                                
                                
                            </div>
                        </div>
                </div>
            </div>
            <div class="menu">
                <div class="products">
                    <h1 class="title">latest Product</h1>
                    <div  class="box-container">
                        <!-- ADD product-->
                        {% for y in  range(l) %}
                    <form action="/menu" method="post" class="box">
                    <input  type="hidden" name="pid" value="{{ prodct_arry[y]['Model'] }}">
                    <button type="submit" class="fas fa-eye" name="btn" value="eye"><button>
                    <button type="submit" class="fas fa-shopping-cart"></button>
                        <img src="{{ url_for('static', filename = prodct_arry[y]['image']) }}" alt="">
                  <a href="#" class="cat"></a>
                  <div class="name">{{ prodct_arry[y]['Model'] }}</div>
                  <div class="flex">
                     <div class="price">{{ prodct_arry[y]['price'] }}<span> ৳</span></div>
                     <input type="number" name="qty" class="qty" min="1" max="99" value="1" maxlength="2">
                  </div>

               </form>
                {% endfor %}

                        <!--End Add Product-->



                    </div>
                      <!-- <p class="empty">no products added yet!</p>-->
                </div>
            </div>
    
    </div>


    </section>

{% endblock %}
