{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    
{% endblock %}
{% block content %}    

<div class="heading" style="margin-top: 100px;">
   <h3>Orders</h3>
   <p><a href="home.php">home</a> <span> / contact</span></p>
</div>

<section class="orders">

   <h1 class="title">your orders</h1>


   <div class="box-container">
{% for j in lists %}
   <div class="box">
      <p>placed on : <span></span></p>
      <p>name : <span>{{ j['name'] }}</span></p>
      <p>email : <span>{{ j['email'] }}</span></p>
      <p>number : <span>{{ j['mobile'] }}</span></p>
      <p>address : <span>{{ j['address'] }}</span></p>
      <p>payment method : <span>{{ j['payment_method'] }}</span></p>
      <p>your orders : <span>{{ j['your_orders'] }}</span></p>
      <p>total price : <span>{{ j['total_price'] }}/-</span></p>
      <p> payment status : <span>{{ j['payment_status'] }}/-</span> </p>
   </div>
   {% endfor %}
   </div>



</section>

 
{% endblock %}








