{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}    

<div class="heading" style="margin-top: 100px;">
   <h3>Orders</h3>
   <p><a href="home.php">home</a> <span> / contact</span></p>
</div>

<section class="orders">

   <h1 class="title">your orders</h1>

{% if haveoder == True %}
   <div class="box-container">
{% for i in list %}
   <div class="box">
      <p>placed on : <span style="color: grey">{{ i['_id'] }}</span></p>
      <p>name : <span style="color: grey">{{ i['name'] }}</span></p>
      <p>email : <span style="color: grey">{{ i['email'] }}</span></p>
      <p>number : <span style="color: grey">{{ i['mobile'] }}</span></p>
      <p>address : <span style="color: grey">{{ i['address'] }}</span></p>
      <p>payment method : <span style="color: grey">{{ i['payment_method'] }}</span></p>
      <p>your orders : <span style="color: grey">{{ i['your_orders'] }}</span></p>
      <p>total price : <span style="color: grey">{{ i['total_price'] }}/-</span></p>
      <p> payment status : <span style="color: grey">{{ i['payment_status'] }}</span> </p>
   </div>
{% endfor %}
   </div>
{% endif %}




</section>

 
{% endblock %}








