{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}

 <section class="quick-view">

    <h1 class="title">quick view</h1>
   <!-- <form type="hidden" action="" method="post" >
       <input type="hidden" name="pid" value="">
       <input type="hidden" name="name" value="">
       <input type="hidden" name="price" value="">
       <input type="hidden" name="image" value="">
    </form>
    -->
    <section class="card">

      <img src="{{url_for('static', filename='images/macbook.jpg')}}" class="card-img" alt="...">

    <div class="doc">
      <h1 class="name">MacBook Air With M1 Chip</h1>
        <p> Form $999 or $83.25/mo ~ for 12 mon*</p>
        <br>
        <p><b>Details</b>  Offers  History</p>

         <ol>
            <li>Apple M1 chip delivers powerful CPU, GPU, andmachine learning performance.</li>
            <li>Up to 18 hours of battery life so you can go longer than everFootnote1 </li>
            <li>Up to 18 hours of battery life so you can go longer than everFootnote1</li>
            <li>Fanless design for silent operation</li>
         </ol>

        <br>
        <br>
       <a href="#" class="cat"></a>

       <div class="flex">
          <div class="price"><span>$</span>9999</div>
          <input type="number" name="qty" class="qty" min="1" max="99" value="1" maxlength="2">
       </div>
       <a type="submit" class="btn">add to cart</a>

        <a href="#" target="_blank" class="btn">Buy Now</a>
    </div>

</section>








 
 </section>
 
 <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
 
 <!-- custom js file link  -->
 <script src="js/script.js"></script>
 
{% endblock %}
