{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
<div class="heading" style="margin-top: 100px;">
   <h3>Quick View Product</h3>
   <p><a href="home.php">home</a> <span> / contact</span></p>
</div>
 <section class="quick-view">
    <section class="quick-view card">
      <img src="{{ url_for('static', filename = p_image) }}" alt="">
    <div class="doc">
      <h1  class="name">{{ p_model }}</h1>
        <p> Form {{ p_price }} <span>৳</span> or {{ p_price/10}}৳/mo ~ for 12 mon*</p>
        <br>
        <p><b>Details Information </b></p>
         <ul class="detail">
            <li><b>Type:</b> {{ p_type }}</li>
            <li><b>Model:</b> {{ p_model }}</li>
            <li><b>Processor:</b> {{ p_processor }}</li>
            <li><b>Display:</b> {{ p_display }}</li>
            <li><b>Ram:</b> {{ p_ram }}</li>
            <li><b>Features:</b> {{ p_feat }}</li>
            <li><b>Warranty:</b> {{ p_warrant }}</li>
         </ul>

        <br>
        <br>

       <div class="flex">
          <div class="price"><span>Price :  </span> {{ p_price }} <span>৳</span></div>
          <input type="number" name="qty" class="qty" min="1" max="99" value="1" maxlength="2">
       </div>
       <a type="submit" class="btn" style="margin-right: 50px;">add to cart</a>
        <a href="#" target="_blank" class="btn">Buy Now</a>
    </div>

</section>

 <div class="box quick-view card" >
     </br>
     <p style="padding: 20px; font-size: 20px;"> <b style="font-size: 30px; ">Description:</b></br></br>{{ p_descript }}</p style="padding: 20px; font-size: 20px;">

        </div>








 
 </section>
 
 <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
 
 <!-- custom js file link  -->
 <script src="js/script.js"></script>
 
{% endblock %}
