{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="heading" style="margin-top: 100px;">
    <h3>Register Now</h3>
    <p><a href="{{url_for('home_page')}}">home</a> <span> / contact</span></p>
 </div>
<section class="form-container">

   <form action="/register" method="post">
      <h3>register now</h3>
       <p style="color: darkgreen">{{ sucess_mess }}</p>
      <input type="text" name="name" required placeholder="Enter Your Name" class="box" maxlength="50">
      <input type="email" name="email" required placeholder="Enter Your Email" class="box" maxlength="50">
      <input type="number" name="mobile" required placeholder="Enter Your Number" class="box" min="0" max="9999999999" maxlength="10">
      <input type="password" name="password1" required placeholder="Enter Your Password" class="box" maxlength="50" >
      <input type="password" name="password2" required placeholder="Confirm Your Password" class="box" maxlength="50">
      <button type="submit" name="submit" class="btn">Register now</button>
      <p>already have an account? <a href="{{url_for('login')}}">login now</a></p>
   </form>

</section>
    </p>
{% endblock %}
