
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="heading" style="margin-top: 100px;">
   <h3>Search Page</h3>
   <p><a href="{{url_for('home_page')}}">home</a> <span> / contact</span></p>
</div>


<section class="products" style="min-height: 100vh; padding-top:0;">

<div class="box-container">

           {% for y in  range(l) %}
                    <form action="/" method="post" class="box">
                    <input  type="hidden" name="pid" value="{{ prodct_arry[y]['Model'] }}">
                    <button type="submit" class="fas fa-eye"></button>
                    <button type="submit" class="fas fa-shopping-cart"></button>
                        <img src="{{ url_for('static', filename = prodct_arry[y]['image']) }}" alt="">
                  <a href="#" class="cat"></a>
                  <div class="name">{{ prodct_arry[y]['Model'] }}</div>
                  <div class="flex">
                     <div class="price">{{ prodct_arry[y]['price'] }}<span> ৳</span></div>
                     <input type="number" name="qty" class="qty" min="1" max="99" value="1" maxlength="2">
                  </div>

               </form>
                {% endfor %}
      </div>
</section>


{% endblock %}






