{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="heading" style="margin-top: 100px;">
   <h3>update profile</h3>
   <p><a href="{{url_for('home_page')}}">home</a> <span> / contact</span></p>
</div>

<section class="form-container update-form">

   <form action="/update_profile" method="post">
      <h3>update profile</h3>
      <input type="text" name="name" placeholder="{{ user_name }}" class="box" maxlength="50">
      <input type="email" name="email" placeholder="{{ user_email }}" class="box" maxlength="50" oninput="this.value = this.value.replace(/\s/g, '')">
      <input type="number" name="number" placeholder="{{ user_number }}" class=" box" min="0" max="9999999999" maxlength="10">
      <input type="password" name="old_pass" placeholder="enter your old password" class="box" maxlength="50" oninput="this.value = this.value.replace(/\s/g, '')">
      <input type="password" name="new_pass" placeholder="enter your new password" class="box" maxlength="50" oninput="this.value = this.value.replace(/\s/g, '')">
      <input type="password" name="confirm_pass" placeholder="confirm your new password" class="box" maxlength="50" oninput="this.value = this.value.replace(/\s/g, '')">
      <input type="submit" value="update now" name="btn" class="btn">
   </form>

</section>
    


{% endblock %}




  