{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    
{% endblock %}
{% block content %}    
<div class="heading" style="margin-top: 100px;">
    <h3>Update Address</h3>
    <p><a href="{{url_for('home_page')}}">home</a> <span> / Update Address</span></p>
 </div>
 
 <section class="form-container">

   <form action="/update_address" method="post">
      <h3>your address</h3>
      <input type="email" class="box" placeholder="Your Email Adress" name="email">
      <input type="text" class="box" placeholder="Districts Name" required maxlength="50" name="districts">
      <input type="text" class="box" placeholder="City Name" required maxlength="50" name="city">
      <input type="text" class="box" placeholder="Upazila Name" required maxlength="50" name="upazila">
      <input type="number" class="box" placeholder="pin code" required max="999999" min="0" maxlength="6" name="pin_code">
      <input type="submit" value="save address" name="btn" class="btn">
   </form>

</section>
 
{% endblock %}










